registry=https://nexus.brb-labs.com/repository/nrw-npm-group/
email=nrw-npm-group@example.org
always-auth=true
strict-ssl=false
_auth=bnJ3LW5wbS1ncm91cDpzMmRFUlokVCx6cCN4XUVB
sign-git-tag=false
message="[skip ci] Tag: %s"
